.toolbar {
    background-color: #333;
    overflow: hidden;
    direction: rtl; /* Ensure toolbar respects RTL */
    position: fixed; /* Fix the toolbar to the top of the page */
    top: 0;
    width: 100%; /* Make the toolbar span the full width of the page */
    z-index: 1000; /* Ensure the toolbar is on top of other content */
}

.toolbar a {
    float: right; /* Float elements to the right */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.toolbar a:hover {
    background-color: #ddd;
    color: black;
}

.secondary-toolbar {
    background-color: #333;
    overflow: hidden;
    direction: rtl; /* Ensure toolbar respects RTL */
    position: fixed; /* Fix the toolbar to the top of the page */
    top: 36px; /* Adjust the top position to align below the main toolbar */
    width: 100%; /* Make the toolbar span the full width of the page */
    z-index: 1000; /* Ensure the toolbar is on top of other content */
}

.secondary-toolbar a {
    float: right; /* Float elements to the right */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.secondary-toolbar a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    text-align: center;
    direction: ltr;
    padding: 80px 20px 20px;
}

.header-image {
    width: 500px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.video-container {
    text-align: center;
    margin: 20px;
}

.content {
    padding: 20px;
    direction: rtl;
    margin-top: 120px;
}

.contact-me {
    padding: 20px;
    direction: rtl;
    text-align: right;
    margin-top: 20px;
}

.contact-me form {
    max-width: 600px;
    margin: 0 0 0 auto;
}

.contact-me label {
    display: block;
    margin: 10px 0 5px;
}

.contact-me input[type="text"],
.contact-me textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    direction: rtl;
}

.contact-me textarea {
    height: 200px;
}

.contact-me input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    direction: ltr;
}

.contact-me input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-me input[type="submit"]:hover {
    background-color: #45a049;
}
